consuming-web-service/src/main/resources/wsimport/products.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.com/demosoap/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/demosoap/gen" targetNamespace="http://www.example.com/demosoap/gen">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.example.com/demosoap/gen">

    <!-- Find All -->
    <xs:element name="getProductsRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getProductsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="products" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Find by name -->
    <xs:element name="getProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- Save -->
    <xs:element name="postProductRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="postProductResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" type="tns:product"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="product">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProductRequest">
    <wsdl:part element="tns:getProductRequest" name="getProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsResponse">
    <wsdl:part element="tns:getProductsResponse" name="getProductsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postProductRequest">
    <wsdl:part element="tns:postProductRequest" name="postProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postProductResponse">
    <wsdl:part element="tns:postProductResponse" name="postProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductResponse">
    <wsdl:part element="tns:getProductResponse" name="getProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProductsRequest">
    <wsdl:part element="tns:getProductsRequest" name="getProductsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="productPort">
    <wsdl:operation name="getProduct">
      <wsdl:input message="tns:getProductRequest" name="getProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProductResponse" name="getProductResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:input message="tns:getProductsRequest" name="getProductsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getProductsResponse" name="getProductsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postProduct">
      <wsdl:input message="tns:postProductRequest" name="postProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:postProductResponse" name="postProductResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="productPortSoap11" type="tns:productPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="getProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction=""/>
      <wsdl:input name="getProductsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProductsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postProduct">
      <soap:operation soapAction=""/>
      <wsdl:input name="postProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="postProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="productPortService">
    <wsdl:port binding="tns:productPortSoap11" name="productPortSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>